<footer class="page-footer font-small bg-dark p-4">
    <div class="container">
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1" style="color:white;">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'account:register' %}" class="btn btn-outline-light rounded-pill" style="font-size:28px;">Sign up!</a>
      </li>
    </ul>
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">FilmMyMind</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->