{% extends "base.html" %}
{% load static %}

{% block title %}
    Detail
{% endblock title%}

{% block content %}

<style>
    .alert{
  width:100%;
  left:0;
  padding:0;
  top:-10px;
  text-align:center;
  }

  .alert-success {
       color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    top: 19px;
    position: absolute;
    z-index: 999;
}

    a:hover{
        cursor: pointer;
    }
    .fa-ellipsis-h:hover{
        font-size:20px;
        cursor: pointer;
    }
    .bg-mred{
        background:rgb(174,0,29)
    }
    .shadow-white-rightbot{
        box-shadow: 7px 7px 0px white;
    }
    body{
        background:rgb(0,0,0);
    }
    .text-white{
        color:white;
    }
    .text-yellow{
        color:yellow;
    }

</style>
<!-- content หลัก-->
    <div class="container p-5 mt-6 mb-5  text-white shadow-white-rightbot position-relative movie-detail bg-mred">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="header text-center text-yellow">
            <h3 style="font-weight:bolder">{{movie.moviename}}</h3>

        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
               <div class="movie-detail-image  m0a">
                <img src="{{movie.movie_image.url}}" alt="">
               </div>
            </div>
            <div class="movie-detail col-sm-6">
                <h5>{{movie.moviename}}</h5>
                <br>
                <span style="font-weight:bolder">Category:</span>
                {% for i in movie.categorys.all %}
                    {{i.category}}
                {% endfor %}
                 <table style="line-height:3rem;margin-top:20px">
<!--                    <tr>-->
<!--                        <th>Category:</th>-->
<!--                        {% for item in movie.categorys.all%}-->
<!--                        <td>{{item.category}}</td>-->
<!--                        {% endfor %}-->
<!--                    </tr>-->
                     <tr>
                         <th>Director:</th>
                         <td>{{movie.director}}</td>
                     </tr>
                     <tr>
                         <th>Actor:</th>
                         <td>{{movie.actor}}</td>
                     </tr>
                         <th>score:</th>
                         <td>

                             {% if movie.rating_avg >= 1 and movie.rating_avg <= 1.9 %}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             {% elif movie.rating_avg >= 2 and movie.rating_avg <= 2.9%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             {% elif movie.rating_avg >= 3 and movie.rating_avg <= 3.9%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star "></span>
                             <span class="fa fa-star"></span>
                              {% elif movie.rating_avg >= 4 and movie.rating_avg <= 4.9%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star"></span>
                              {% elif movie.rating_avg == 5%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             {% else %}
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             {% endif %}
                         </td>
                     </tr>
                 </table>
            </div>
         </div>
        <div class="moviedetail-info w-800 m0a mt-5">
            <p>{{movie.review|linebreaks}}</p>
        </div>
        <div class="form-group position-absolute" style="right:15px;">
        {% if user == movie.author or user.is_superuser %}
            <a class="btn btn-warning text-white" href="{% url 'edit_delete:editmovie' id=movie.id  %}">Edit</a>
         {%endif%}
            <!--            deletemovie-->
        {% if user == movie.author or user.is_superuser %}
            <a class="btn btn-outline-danger"  data-toggle="modal" data-target="#deletemovie{{movie.id}}">Delete</a>
              <div class="modal fade text-black" id="deletemovie{{movie.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:0 auto;max-width:500px;">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">DELETE {{movie}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <span>You need to delete member id:{{movie.id}} | {{movie}} ?</span>
                                      </div>
                                      <div class="modal-footer">
                                      <form action="{%url 'movie:indexdeletemovie' id=movie.id %}" method="post">
                                          {%csrf_token%}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                      </form>
                                      </div>
                                    </div>
                                  </div>
                              </div>
        {% endif %}
        </div>

    </div>
<!--end content-->
<!--comment block-->

    <div class="comment-field container shadow p-5 mb-3 text-white bg-mred border border-white">
        <h5>แสดงความคิดเห็น | มีทั้งหมด {{comment_count}} ความคิดเห็น</h5>
        <form action="{% url 'movie:moviedetail' id=movie.id %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <textarea name="commenttext" id="" cols="30" rows="5" style="resize:none;"> </textarea>
            <span style="float:left;">ให้คะแนน :</span>

                {% if checkrating %} Already Rating
                {% else %}
                     <!-- Rating Stars Box -->
            <div class="rating">
              <input type="radio" id="star5" name="score" value="5" />
              <label class="star" for="star5" title="Awesome" aria-hidden="true"><li class="fas fa-star"></li></label>
              <input type="radio" id="star4" name="score" value="4" />
              <label class="star" for="star4" title="Great" aria-hidden="true"><li class="fas fa-star"></li></label>
              <input type="radio" id="star3" name="score" value="3" />
              <label class="star" for="star3" title="Very good" aria-hidden="true"><li class="fas fa-star"></li></label>
              <input type="radio" id="star2" name="score" value="2" />
              <label class="star" for="star2" title="Good" aria-hidden="true"><li class="fas fa-star"></li></label>
              <input type="radio" id="star1" name="score" value="1" />
              <label class="star" for="star1" title="Bad" aria-hidden="true"><li class="fas fa-star"></li></label>
            </div>
                {% endif %}
             <input type="hidden" name="allscore" value="{{movie.rating}}">
            <div class="form-group" style="clear:both;">
                <button type="button" class="btn btn-primary" {% if user.is_authenticated %} onclick="this.disabled=true,this.form.submit();"  {%else%} data-toggle="modal" data-target="#registermodal" {%endif%}>Submit</button>
                <button type="reset" class="btn btn-warning">cancel</button>
            </div>
        </form>
    </div>

<!--end comment block-->
<!--comment list-->
    {% for comment in comment %}
    <div class="container shadow p-5 mb-3 bg-mred text-white border border-white position-relative" >
        {% if user == comment.author or user.is_superuser %}
        <div class="form-group position-absolute" style="right:15px;top:3px;font-size: 18px;">
            <a class="text-white" onclick="editcomment({{comment.id}})"><i class="far fa-edit"></i></a>
            <a data-toggle="modal" data-target="#comment{{comment.id}}" class="text-white"><i class="far fa-trash-alt"></i></a>
        </div>
<!--            delete comment modal-->
<div class="modal fade text-black" id="comment{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete comment {{comment.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You need to delete comment by {{comment.author}} ?
      </div>
      <div class="modal-footer">
          <form action="{% url 'edit_delete:deletemoviecomment' id=comment.id %}">
              {%csrf_token%}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>

        {%endif%}
        <div class="member-comment-name">
            <p style="font-size: 13px;">comment by:{{comment.author}} | {{comment.comment_date}} <br>
                <span style="max-width:10px;">score:
                {% for rating in rating %}
                    {% if rating.user == comment.author%}
                        {%if rating.score >= 1 and rating.score <= 1.9%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             {% elif rating.score >= 2 and rating.score <= 2.9%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             {% elif rating.score >= 3 and rating.score <= 3.9%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star "></span>
                             <span class="fa fa-star"></span>
                             {% elif rating.score >= 4 and rating.score <= 4.9%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star"></span>
                              {% elif rating.score == 5%}
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             <span class="fa fa-star color-yellow"></span>
                             {% else %}
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             {% endif %}
                {% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="member-comment ml-5" >
            <p id="commenttext{{comment.id}}" style="display:inline-block;word-break:break-all">{{comment.comment}}</p>
<!--            edit comment-->
            <form action="{% url 'edit_delete:editmoviecomment' id=comment.id %}" method="post" class="position-relative" id="commenttextedit{{comment.id}}" style="display:none;">
                {% csrf_token %}
                <textarea cols="30" rows="5" style="background:white;" name="commentedit">{{comment.comment}}</textarea>
                <div class="form-group position-relative">
                    <button type="submit"  class="btn btn-warning position-relative">Save</button>
                    <button type="reset"  onclick="editcomment({{comment.id}})" class="btn btn-secondary" >cancel</button>
                </div>
            </form>
<!--            end edit comment-->
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" style="width:100%" name="comment_id" value="{{comment.id}}">
                <div class="position-relative">
                    <input type="text" style="width:70%;height:40px;" name="replytext" value="" class="rounded-lg"  autocomplete="off">
                    <input value="Reply" class="position-absolute btn btn-danger" type="button" {% if user.is_authenticated %} onclick="this.form.submit();"  {%else%} data-toggle="modal" data-target="#registermodal" {%endif%}>
                <!--need login Modal -->
<div class="modal fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="color:black;">
        <span>ต้องทำการ Login เผื่อเข้าใช้ <a href="{% url 'account:login' %}" style="color:blue">|Login|</a></span>
           <button type="button" class="btn btn-secondary position-absolute" style="right:10px;top:10px;"data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
                </div>
            </form>
        </div>
        {% for reply in comment.replies.all %}
        <div class="member-reply position-relative">
            {% if user == reply.author or user.is_superuser %}
            <div class="btn-group position-absolute" style="top:0;right:15px;">
                  <a  class="editdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu" style="min-width:80px;">
                      <div class="editgroup p-2 text-center">
                        <a  onclick="editreply({{reply.id}})"><i class="far fa-edit"></i></a>
                        <a  class="text-black" data-toggle="modal" data-target="#deletereply{{reply.id}}"><i class="far fa-trash-alt"></i></a>
                      </div>
                  </div>
            </div>
            {% endif %}
<!--            delete reply modal-->
            <div class="modal fade" id="deletereply{{reply.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete your reply</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    You need to delete this reply?
                  </div>
                  <div class="modal-footer">
                      <form action="{% url 'edit_delete:deletemoviereply' id=reply.id %}">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
<!--            end delete replymodal-->

            <p style="margin:0;"><span style="font-size:11px;">Reply: {{reply.author}} | {{reply.comment_date}}</span> >>
            <span id="replytext{{reply.id}}" class="reply-text"style="display:inline-block">{{reply.comment}}</span></p>
<!--            edit reply-->
             <form action="{% url 'edit_delete:editmoviereply' id=reply.id %}" method="post">
                 {%csrf_token%}
                <input type="hidden" class="input-edit" id="replytextedit{{reply.id}}" value="{{reply.comment}}">
            </form>
<!--            end edit reply-->
        </div>
        {% endfor %}
    </div>
    {% endfor %}

 </div>


  <!-- Footer -->
    {% include 'footer.html' %}
<!--End Footer-->
<!--end comment list-->
{% endblock content%}