{% extends 'basedashboard.html' %}
{%block profileactive %} active {%endblock profileactive%}
<!--editprofile-->
{% block content%}
<style>
  .switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 54px;
}

.switch input {
  display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #ffffff;
    bottom: 1px;
    content: "";
    height: 25px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 24px;

}

input:checked + .slider {
  background-color: rgb(158, 222, 163);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

   .alert{
  width:100%;
  left:0;
  padding:0;
  top:-10px;
  text-align:center;
  }

  .alert-success {
       color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    top: -33px;
    position: absolute;
    z-index: 999;
}
</style>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <div class="container-fluid mt--7">
        {% for userinformation in userinformation %}
        {%csrf_token%}
            <div class="row mt-5">
           <div class="col-xl-8 order-xl-1">
              {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" id="message">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">My account</h3>
                    </div>
                    <div class="col-4 text-right">
                      <button type="submit" class="btn btn-sm bg-gradient-red text-white">SAVE CHANGE</button>
                    </div>
                  </div>
                </div>
                <div class="card-body">

                    <h6 class="heading-small text-muted mb-4">เปลี่ยนข้อมูลส่วนตัว</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-username">Username</label>
                            <input type="text" id="input-username" class="form-control form-control-alternative" value="{{userinformation}}" disabled>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Email address</label>
                            <input type="email" name="email" id="input-email" class="form-control form-control-alternative" value="{{userinformation.email}}" disabled>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-first-name">First name</label>
                            <input type="text" name="firstname" id="input-first-name" class="form-control form-control-alternative" value="{{userinformation.first_name}}" disabled>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-last-name">Last name</label>
                            <input type="text"  name="lastname" id="input-last-name" class="form-control form-control-alternative" value="{{userinformation.last_name}}" disabled>
                          </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="{% url 'edit_delete:setstatus' id=userinformation.id %} " method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="d-flex">
                          <span class="mr-3">Reviewer</span>
                            <label class="switch" for="checkbox" value="Reviewer">
                              <input type="checkbox" id="checkbox" name="is_staff" onclick="this.form.submit();" {% if userinformation.is_staff%} checked {%endif%}/>
                              <div class="slider round"></div>
                            </label>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>

                    <!-- Description -->



                </div>
              </div>
            </div>

         <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
              <div class="card card-profile shadow">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image pt-8 pt-md-4 pb-0 pb-md-4">
                      <a href="#">
                        <img src="{{ userinformation.userprofile.user_image.url}}" class="rounded-circle" style="height:160px;width:160px;">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                        <div>
                          <span class="heading">{{count_movie}}</span>
                          <span class="description">Review</span>
                        </div>
                        <div>
                          <span class="heading">{{count_board}}</span>
                          <span class="description">Webboard</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h3>
                      {{userinformation.first_name}}  {{userinformation.last_name}}
                    </h3>
                    <div class="h5 font-weight-300">
                      <i class="ni location_pin mr-2"></i>Status :{%if userinformation.is_superuser %} ADMIN
                        {% elif userinformation.is_staff %} REVIEWER {% else %} MEMBER {% endif %}
                    </div>
                    <div class="h5 mt-4">
                      <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

{% endblock content %}
<!--end editprofile-->
